Cache/
cache/

*.log
*.tmp

dconf/
pulse/
ibus/
pamac/
KDE/
PlasmaDiscoverUpdates
QtProject.conf
Trolltech.conf
arkrc
auroraerc
baloofilerc
bluedevilglobalrc
onfigstore/
discoverrc
dolphinrc
fontconfig/
go/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate-externaltoolspluginrc
kate/
katerc
katevirc
kcminputrc
conf_updaterc
kded5rc
kded6rc
kdedefaults/
kdeglobals
kfontinstuirc
kglobalshortcutsrc
kmenueditrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
oxygenrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmashellrc
powermanagementprofilesrc
sddmthemeinstallerrc
session/
spectaclerc
user-dirs.dirs
user-dirs.locale
xsettingsd/
