*.cache

*.kcache
*.log
*.tmp
Cache/
cache/

session/
dconf/
pulse/
KDE/ 
obsidian/
btop/
konsole*
pavucontrol*
go/
.obsidian/
GIMP/
OpenRGB/
PlasmaDiscoverUpdates
QtProject.conf
Raspberry Pi/
StardewValley/
Unknown Organization/
Vial/
Yubico/
akonadi-firstrunrc
akonadi-migrationrc
akonadi/
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
arkrc
auroraerc
autostart/
calligrarc
calligrasheetsrc
cef_user_data/
config-6.15.4-miguel-4.0
defaultcalendarrc
drkonqirc
dunst/
elinks/
emaildefaults
emailidentities
environment.d/
falkon/
gwenviewrc
htop/
hypr/scripts/weather.sh
jxbrowser/
kactivitymanagerd-statsrc
kalarmrc
kate/
katevirc
kcmfonts
kde.org/
kdeconnect/
kded6rc
kdfrc
khelpcenterrc
kiorc
kioworkerrc
klipperrc
kmail2rc
kmailsearchindexingrc
kmixctrlrc
kmixrc
knfsshare
kontact_summaryrc
kontactrc
kplymouththemeinstallerrc
libvirt/
looking-glass/
micro/
neofetch/
partitionmanager.kmessagebox
partitionmanagerrc
phishingurlrc
plasmanotifyrc
plasmarc
rofi/
sddmthemeinstallerrc
specialmailcollectionsrc
spectaclerc
spotify/
systemd/
systemmonitorrc
systemsettingsrc
trashrc
xdg-desktop-portal-kderc
configstore/
ksmserverrc
kwinoutputconfig.json
plasma-org.kde.plasma.desktop-appletsrc
bovorc
cantorrc
elisarc
eventviewsrc
kdeveloprc
korganizerrc
kturtlerc
plasmathemeexplorerrc
waybar/style-1920.css
